.wallpaper {
  position: fixed;
  inset: 0;
  z-index: -1;

  background: hsl(0 0 100/ 0.2);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.underlay {
  position: absolute;
  inset: 0;
  background: hsl(0 0 100/ 0.5);
  z-index: -1;
  backdrop-filter: blur(40px);
}
