.window {
  border: 1px solid hsl(0 0 90/0.2);
  transition: all 300ms ease;

  .window-header {
    background: hsl(0 0 20);
    color: hsl(0 0 90);

    .btn {
      transition: all 200ms ease;

      &:not(.close-button):hover {
        background: hsl(0 0 100/0.1);
      }
    }
  }

  .window-body {
    background: hsl(0 0 12);
    color: #e6e6e6;
    scrollbar-gutter: stable;
  }
}
