.window {
  position: absolute;
  top: 35%;
  left: 30%;
  z-index: 0;

  transform: translate(-50%, -50%);

  min-width: 500px;
  min-height: 400px;

  width: 45vw;
  height: 60vh;

  transition: all 200ms ease;

  .window-header {
    background: hsl(0 0 20);
    color: hsl(0 0 90);
    backdrop-filter: blur(40px);

    .app-info {
      padding-inline: 1rem;
    }

    .buttons {
      .btn {
        padding: 0.75rem 1rem;

        &:not(.close-button):hover {
          background: hsl(0 0 100/0.1);
        }
      }
    }
  }

  .window-body {
    background: hsl(0 0 12);
    color: #e6e6e6;
    height: 100%;
    scrollbar-gutter: stable;

    .text-container {
      padding: 0.5rem 1rem;
    }
  }
}
